body{
     background: url(background.jpg);
     background-size:1550px 700px; 
     background-repeat: no-repeat;
   
}
.dice{
    position: relative;
    left:33%;
    margin-top:6%;
    
    
}
.heading{
    position: relative;  
    margin-top:2.5%; 
    left:30%;
    color: rgb(0, 0, 0);
    font-size:4rem;
    font-weight: bold;
    font-family: 'Piedra', cursive;
    
}
.btn{
    margin-top: 4%;
    margin-left: 48%;
}